<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner Academy Attendance</title>
</head>
<body>
<h2>Winner Academy Attendance</h2>
<form method="post" action="">
    <table>
        <tr>
            <td>Trainee name</td>
            <td><strong>{{ name }}</strong></td>
        </tr>
        <tr>
            <td>Trainee Group</td>
            <td><strong>{{ group }}</strong></td>
        </tr>
        <tr>
            <td>Trainee Code</td>
            <td><strong>{{ reference }}</strong></td>

        </tr>
        <td>
                <a target="_blank"
                class="btn btn-info pull-right"
                href="">
                Add Another
</a>
            </td>
    </table>
</form>
</body>
</html>